/*** COLORS ***/
.img-container {
  max-width: 100%; }

.fas {
  color: #8d8d8d; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 5rem;
  position: relative;
  top: 0; }
  header .brand p {
    font-size: 2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold; }
  header .navigation-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }
    header .navigation-container .avatar-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; }
      header .navigation-container .avatar-container p, header .navigation-container .avatar-container .fas {
        color: #FFFFFF; }
    header .navigation-container .notifications-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #D9F1F1; }
  header .search-input-container form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
